// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


.logo {
    height: 5.25rem;

    @media only screen and (max-width: $bp-medium) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-medium) {

        display: none;
    }

    &__small {
        display: none;

        @media only screen and (max-width: $bp-medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            margin-right: 2rem;

            &__input {
                font-family: inherit;
                font-size: inherit;
                color: --color-grey-light-2;
                background-color: var(--color-grey-light-2);
                border: none;
                padding: .7rem 2rem;
                border-radius: 100px;
                width: 80%;
                transition: all .2s;
                margin-right: -2.25rem;

                &:focus {
                    outline: none;
                    width: 100%;
                    background-color: var(--color-grey-light-2);
                }

                &::-webkit-input-placeholder {
                    font-weight: 100;
                    color: var(--color-grey-light-2);
                }
            }

            &__input:focus+&__button {
                background-color: var(--color-grey-light-2);
            }

            &__button {
                border: none;
                background-color: var(--color-grey-light-2);

                &:focus {
                    outline: none;
                }

                &:active {
                    transform: translateY(2px);
                }
            }

            &__icon {
                height: 2rem;
                width: 2rem;
                fill: var(--color-grey-dark-3);
            }

        }
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: --color-grey-light-2;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 80%;
        transition: all .2s;
        margin-right: -2.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-2);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-2);
        }
    }

    &__input:focus+&__button {
        background-color: var(--color-grey-light-2);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

.user-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    margin-left: 80%;
    width: 20%;
    overflow: hidden;

    @media only screen and (max-width: 1060px) {
        margin-left: 75%;
        width: 40%;
    }

}

.fas {
    position: absolute;
    margin-left: 74%;
    margin-top: -1.8rem;

    @media only screen and (max-width: $bp-medium) {
        margin-left: 95vw;
    }
}

.icons {
    display: flex;
    align-content: center;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    &>* {
        padding: 0 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: rgba(18, 152, 241, 0.801);
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

}

.fab {
    font-size: 2rem;
    color: blue;
}

.nav {
    margin-top: 2rem;
}

.nav-nav {
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    &__item {
        position: relative;
        margin-right: 1rem;
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-dark-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        position: relative;
        display: flex;
        align-items: center;

        &:hover {
            color: var(--color-primary);

        }
    }
}

.review {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 1rem;
    max-width: 50rem;
    border-color: #ff3366;
    border-width: 2px;
    border-style: groove;
    margin-right: 1rem;
    margin-top: 2rem;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        margin: 0 2rem;
    }

    &__text {
        margin-bottom: 2rem;
        position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__cover {
        flex: 1 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        // height: 30rem;
    }

    &__cover>img {
        height: 100%;
        object-fit: cover;
        transition: transform 0.16s;
    }

    &:hover img {
        transform: scale(1.02, 1.02);
    }

    // &__photo {
    //     height: 2rem;
    //     // width: 6rem;
    //     // margin-right: 1.5rem;

    // }

    &__user-box {
        display: flex;
        justify-content: space-between;
    }

    &__user-name {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__user-date {
        font-size: 2rem;
        color: var(--color-grey-dark-3);
    }

    &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }


}

.about {
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 1rem;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    &__text {
        margin-top: 1rem;
        margin-left: 3rem;
        position: relative;
        font-size: 1.2rem;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }

}

.about-small {
    display: none;

    @media only screen and (max-width: $bp-medium) {
        display: block;
        background-color: #fff;
        box-shadow: var(--shadow-light);
        padding: 2rem;
        border-width: 2px;
        border-style: groove;
        overflow: hidden;
        margin: 2rem 2rem;
        width: 95%;

        &__text {
            margin-top: 2rem;
            margin-left: 7rem;
            position: relative;
            font-size: 1.5rem;
        }

        &__user {
            display: flex;
            align-items: center;
        }

        &__photo {
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            margin-right: 1.5rem;
        }

        &__user-box {
            margin-right: auto;
        }

        &__user-name {
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .4rem;
        }

    }
}


.user-socials {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;

    &>* {
        padding: 0 0.5rem;
        cursor: pointer;
        margin-right: 2rem;
        height: 50%;
        display: flex;
        align-items: center;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: rgba(18, 152, 241, 0.801);
    }

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

.user-socials-small {
    display: none;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        align-self: stretch;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;

        &>* {
            padding: 0 6rem;
            cursor: pointer;
            margin-top: 3rem;
            margin-right: 2rem;
            height: 50%;
            display: flex;
            align-items: center;
        }

        &__icon {
            height: 3rem;
            width: 3rem;
            fill: rgba(18, 152, 241, 0.801);
        }

    }

}

.form {
    display: block;
    height: 15rem;

    &__group:not(:last-child) {
        margin-bottom: 6rem;
    }

    @media only screen and (max-width: 900px) {
        &__group:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__input {

        @media only screen and (min-width: 901px) {
            position: absolute;
        }

        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        transition: all .3s;
        left: 0;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }
}

.btn {

    @media only screen and (min-width: $bp-medium) {
        margin-top: 6rem;
    }

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }



    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.heading-secondary {
    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    font-size: 2rem;
    margin-top: 0;
    margin-top:2rem;
    margin-left:4rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    &__small {
        display: none;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
            margin-top: 2rem;
            margin-left: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: .2rem;
            transition: all .2s;

            &:hover {
                transform: skewY(2deg) skewX(15deg) scale(1.1);
                text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
            }
        }
    }
}

.list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.item {
    -webkit-flex: 1 auto;
    flex: 1 auto;
    padding: 1rem;
    text-align: center;
    font: 300 14px/1.5 sans-serif;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;

    }
}

.item a {
    display: block;
    background-color: #FF3366;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #fff;
}

.comments {
    padding: 0.5rem 0;
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.5rem;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comments-small {
    display: none;

    @media only screen and (max-width: $bp-medium) {
        display: block;
    }
}

.comment {
    padding: 0.5rem 0.5rem;
    display: grid;
    column-gap: 0.5rem;
    background: whitesmoke;
    grid:
        'avatar name'1.5rem 'avatar content'1fr / 4rem auto;

    @media only screen and (max-width: $bp-medium) {
        margin: 1rem 2rem;
    }

    &__avatar {
        grid-area: avatar;
        width: 100%;
        border-radius: 20%;
    }


    &__name {
        grid-area: name;
        align-self: end;

    }

    &__content {
        grid-area: content;
        align-self: center;
        padding-left: .25rem;
        font-size: 1.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.footer {
    background-color: $color-grey-dark-3;
    padding: 4rem 0;
    font-size: 1.4rem;
    display: flex;
    flex-flow: column;
    position: relative;
    align-content: center;
    color: $color-grey-light-1;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: 10rem;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 100%;
        float: right;
        margin-left: 10rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 100%;
        float: right;
        margin-left: 10rem;
    }
}

.col-1-of-2 {
    margin-bottom: 3rem;
    float: left;
    overflow: hidden;
}

.row {
    margin: 0 1rem;
}